.slide-container {
    display: flex;
    height: 400px;
    position: relative;
}


.prev {
    position: absolute;
    width: 50%;
    height: 300px;
    background: #253734;
    box-shadow: 0px 8px 20px rgb(50 219 162 / 20%);
    border-radius: 12px;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 24px;
    cursor: pointer;
}

.select {
    position: absolute;
    width: 50%;
    height: 350px;
    background: #43605B;
    box-shadow: 0px 8px 20px rgb(50 219 162 / 20%);
    border-radius: 12px;
    left: 25%;
    bottom: 8px;
    z-index: 3;
    padding: 24px;
    cursor: pointer;
}

.next {
    position: absolute;
    width: 50%;
    height: 300px;
    background: #253734;
    box-shadow: 0px 8px 20px rgb(50 219 162 / 20%);
    border-radius: 12px;
    right: 0;
    bottom: 12px;
    z-index: 2;
    padding: 24px;
    cursor: pointer;
}

.hindeleft {
    position: absolute;
    padding: 24px;
    z-index: 4;
    top: 80px;
    left: -20px;
}

.hinderight {
    position: absolute;
    padding: 24px;
    z-index: 4;
    top: 60px;
    right: -20px;
}

.title {
    color: FFFFFF;
    font-weight: bold;
    margin: 24px 0 12px 0;
    font-size: 20px;
}

.content {
    font-size: 12px;
}