.slide-container {
    display: flex;
    height: 400px;
    position: relative;
}


.prev {
    position: absolute;
    width: 50%;
    height: 320px;
    background: #253734;
    box-shadow: 0px 8px 20px rgb(50 219 162 / 20%);
    border-radius: 12px;
    z-index: 1;
    padding: 24px;
    cursor: pointer;
    transform: translateX(0%) translateY(90px);
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
}

.select {
    position: absolute;
    width: 50%;
    height: 350px;
    background: #43605B;
    box-shadow: 0px 8px 20px rgb(50 219 162 / 20%);
    border-radius: 12px;
    z-index: 3;
    padding: 24px;
    cursor: pointer;
    transform: translateX(50%) translateY(36px);
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
}

.next {
    position: absolute;
    width: 50%;
    height: 300px;
    background: #253734;
    box-shadow: 0px 8px 20px rgb(50 219 162 / 20%);
    border-radius: 12px;
    z-index: 2;
    padding: 24px;
    cursor: pointer;
    transform: translateX(100%) translateY(75px);
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
}

.hindeleft {
    position: absolute;
    padding: 24px;
    z-index: 4;
    top: 80px;
    left: -20px;
}

.hinderight {
    position: absolute;
    padding: 24px;
    z-index: 4;
    top: 60px;
    right: -20px;
}

.title {
    color: #FFFFFF;
    font-weight: bold;
    margin: 24px 0 12px 0;
    font-size: 20px;
}

.content {
    font-size: 12px;
}

.select .title {
    font-size: 24px;
}

.select .content {
    font-size: 16px;
}

.slide-container img {
    height: 165px;
    width: 180px;
}

.banner ul li {
    color: #8DA5A1 !important;
    font-size: 16px !important;
    margin-top: 24px !important;
}

.pagination {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.pagination-item {
    background: #253734;
    border-radius: 20px;
    width: 20px;
    height: 8px;
    margin: 0 6px;
}

.pagination-item.active {
    width: 40px;
    background: radial-gradient(95.59% 167.1% at 32.8% 50%, #31DB9F 0%, #35D4D6 100%);
}