:root {
  --bg: linear-gradient(192.04deg, #0E3C34 0.01%, #010703 100%);
  --bg-icon: #8DA5A1;
}

@font-face {
  font-family: 'SF-PRO';
  src: url(../fonts/SF-Pro-Display-Regular.otf);
}

body {
  margin: 0;
  font-family: "SF-PRO", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fz-24 {
  font-size: 24px !important;
}

.fz-20 {
  font-size: 20px !important;
}

.fz-18 {
  font-size: 18px !important;
}

.fz-16 {
  font-size: 16px !important;
}

.fz-14 {
  font-size: 14px;
}

.fz-13 {
  font-size: 13px;
}

.fz-12 {
  font-size: 12px;
}

.fz-11 {
  font-size: 11px;
}

.fz-10 {
  font-size: 10px;
}

.fz-8 {
  font-size: 8px;
}

.icon-active {
  background: radial-gradient(95.59% 167.1% at 32.8% 50%, #31DB9F 0%, #35D4D6 100%)
}

#right li {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
}

#right li:first-child {
  margin-bottom: 120px;
}

#right li:nth-child(8) {
  margin-top: 100px;
}

#right li:hover {
  background: radial-gradient(95.59% 167.1% at 32.8% 50%, #31DB9F 0%, #35D4D6 100%)
}

/* navbar */

#navbar li {
  display: inline-block;
  margin-right: 25px;
  font-size: 20px;
}

a {
  text-decoration: none !important;
}

.red,
.d {
  color: #FE5050 !important;
}

.yellow,
.r,
.e {
  color: #FFA23A !important;
}

.green,
.i {
  color: #33D49D !important;
}

.c {
  color: #CA5AFF !important;
}

.f {
  color: #3EAEFF !important;
}

.d.active {
  color: #FE5050 !important;
  background: #381B1B;
}

.d.active ::after {
  content: url('../image/icon/giam.png');
  float: left;
  margin-left: 8px;
}

.i.active {
  color: #33D49D !important;
  background: #25473B;
}

.i.active ::after {
  content: url('../image/icon/tang.png');
  float: left;
  margin-left: 5px;
}

.e.active {
  color: #FFA23A !important;
  background: #3B3127;
}

.lot {
  color: #D1E0DE !important;
}

.lot.active {
  background: #253734;
}

tr .text-right,
.text-center {
  color: #D1E0DE;
}

/* category */
.category a {
  line-height: 40px;
  font-weight: bold;
  margin: 0 40px;
}

.dropdown-select {
  position: relative;
}

ul.menu {
  margin: 0;
  padding: 0;
  background-color: #12211E;
  box-shadow: 1px 5px 32px rgba(188, 197, 204, 0.18);
  border-radius: 0.5rem;
  display: none;
  position: absolute;
  width: 148px;
  left: 0;
  top: 100%,
}

.menu li {
  list-style-type: none;
  padding: 10px;
}

.dropdown-select .menu a {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 20px;
  color: #8DA5A1;
  font-weight: bold;
  text-align: center;
}

.category a:hover {
  color: #31DB9F;
}

.category .dropdown-select {
  font-size: 16px;
  color: #8DA5A1;
  padding: 5px;
}

.category .dropdown-select:hover {
  color: #31DB9F;
}

.category .dropdown-select:hover ul {
  display: block;
}

/* table */
#banggia table {
  background: #12211E;
}

#banggia table,
th,
td {
  padding: 8px 0 8px 0;
  font-size: 12px;
}

#banggia tbody tr:hover {
  background-color: #a6c1d6;
}

#banggia tbody .chose {
  background-color: #a6c1d6;
}


#banggia tbody tr:nth-child(even):hover {
  background: #a6c1d6;
}

#banggia tbody tr:nth-child(even) {
  background: #253734;
}

#banggia thead {
  border-bottom: 1px solid #253734;
}


.arrow {
  position: relative;
}

.up {
  position: absolute;
  top: 6.5px;
  left: 35px;
}

.down {
  position: absolute;
  bottom: 6.5px;
  left: 35px;
}

.custom-cursor {
  cursor: pointer;
}

#footer ul {
  margin: 0;
  padding: 0;
}

#footer li {
  list-style-type: none;
  padding-bottom: 12px;
  font-size: 14px;
}

#footer a {
  color: #8DA5A1 !important;
}

/* search */
.form-add {
  position: relative;
  background: #253734;
  border: none;
  border-radius: 0.5rem;
  padding: 5px 5px 5px 50px;
  width: 250px;
}

.search {
  position: absolute;
  left: 10px;
}

/* detailStock  */

.divider {
  border: 1px solid #253734;
  margin: 0 16px 0 16px;
  height: 60px;
}

/* Tabs 1 */

.tab-content {
  height: 100%;
}

.nav-tabs {
  margin: 0 !important;
  padding: 16px !important;
  border-bottom: none !important;
  border-bottom: 1px solid #253734 !important;
}

.nav-tabs a {
  color: #fff !important;
  background-color: #253734 !important;
  font-size: 16px !important;
  font-weight: bold !important;
  margin-right: 10px !important;
  border-radius: 1rem !important;
  padding: 12px 20px !important;
  border: none !important;
}

.nav-tabs .nav-link.active {
  box-shadow: 0px 8px 20px 0px rgba(50, 219, 162, 0.35);
  background: radial-gradient(95.59% 167.1% at 32.8% 50%, #31DB9F 0%, #35D4D6 100%) !important;
}

/* Tab 2 */

.tab2 li {
  list-style-type: none;
  margin-right: 16px;
  cursor: pointer;
}

.tab2 a {
  color: #8DA5A1;
  font-size: 16px;
}

.tab2 a:hover {
  color: #EFF5F4 !important;
  font-weight: bold !important;
}

.tab2 .active {
  color: #EFF5F4 !important;
  font-weight: bold !important;
}

iframe {
  height: 660px !important;
}

/* form search */

.formControl {
  background: #253734;
  color: #EFF5F4;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 56px 6px 12px;
  border-radius: 12px;
  margin: 0 15px;
}

.level1 {
  font-weight: bold;
  font-size: 14px !important;
  background: #253734;
  /* border-radius: 12px !important;
  padding: 14px 0 14px 18px !important; */
}

.level1 td {
  font-weight: bold;
  font-size: 14px
}

.level2,
.level3 {
  font-size: 12px;
  border-bottom: 1px solid #253734;
}

/* Card */

.card {
  position: absolute;
  left: 220px;
  top: 30px;
  padding: 16px;
  background: #12211e;
  border-radius: 20px !important;
  z-index: 3;
}

.card input {

  height: 44px;
  font-size: 16px;
  color: #8DA5A1;
  padding: 10px 16px 10px 44px;
  background: #253734;
  border: 0;
  border-radius: 1rem;
}

.card li:hover {
  cursor: pointer;
  background-color: #0e3b33;
}

/* suggsest  stock*/

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 100%;
  z-index: 1000;
  width: 340px;
  max-height: 350px;
  overflow: auto;
  display: none;
  background: #12211E;
  box-shadow: 2px 16px 32px rgba(188, 197, 204, 0.18);
  border-radius: 16px;

}

.react-autosuggest__suggestions-container--open {
  display: block;
}

.react-autosuggest__suggestions-container ul {
  margin: 24px 0;
  padding: 0;
}

ul.react-autosuggest__suggestions-list li {
  margin-bottom: 10px;
  padding: 12px 24px;
  cursor: pointer;
}

ul.react-autosuggest__suggestions-list li:hover {
  background-color: #0e3b33;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #0e3b33;
}

/* tab top cổ phiếu */

.top .tab2 li {
  margin-right: 32px;
}

.top .tab2 a {
  font-size: 14px !important;
  color: '#8DA5A1';
  padding: 10px;
}

.top .tab2 a:hover {
  background-color: #253734;
  border-radius: 12px;
}

.top .tab2 .active {
  background-color: #253734;
  border-radius: 12px;
}

/* chartTrend */

.progress-type-1 .progress-bar {
  background-color: #33D49D;
}

.progress-type-2 .progress-bar {
  background-color: rgba(71, 216, 167, 0.9);
}

.progress-type-3 .progress-bar {
  background-color: rgba(92, 221, 177, 0.8);
}

.progress-type-4 .progress-bar {
  background-color: rgba(112, 225, 186, 0.7);
}

.progress-type-5 .progress-bar {
  background-color: rgba(133, 229, 196, 0.6);
}

.progress-type-6 .progress-bar {
  background-color: rgba(153, 233, 206, 0.5);
}

.progress-type-7 .progress-bar {
  background-color: rgba(173, 238, 216, 0.4);
}

.progress-type-8 .progress-bar {
  background-color: rgba(194, 242, 226, 0.3);
}

.progress-type-9 .progress-bar {
  background-color: rgba(240, 61, 61, 0.3);
}

.progress-type-10 .progress-bar {
  background-color: rgba(240, 61, 61, 0.4);
}

.progress-type-11 .progress-bar {
  background-color: rgba(240, 61, 61, 0.5);
}

/* top Trend  */

.top-trend-i {
  color: #33D49D;
  background: #25473B;
  font-size: 12px;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  align-items: center;
}

.top-trend-d {
  color: #FE5050;
  background: #532B2B;
  font-size: 12px;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  align-items: center;
}

/* banner */

.banner button {
  background: radial-gradient(95.59% 167.1% at 32.8% 50%, #31DB9F 0%, #35D4D6 100%);
  border: none;
  color: #D1E0DE;
  font-size: 16px;
  border-radius: 18px;
  padding: 16px 70px;
}