:root {
  --bg: linear-gradient(192.04deg, #0E3C34 0.01%, #010703 100%);
  --bg-icon: #8DA5A1;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Regular.ttf);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fz-20 {
  font-size: 20px !important;
}

.fz-18 {
  font-size: 18px !important;
}

.fz-16 {
  font-size: 16px !important;
}

.fz-14 {
  font-size: 14px;
}

.fz-13 {
  font-size: 13px;
}

.fz-12 {
  font-size: 12px;
}

.fz-11 {
  font-size: 11px;
}

.fz-10 {
  font-size: 10px;
}

.fz-8 {
  font-size: 8px;
}

.icon-active {
  background: radial-gradient(95.59% 167.1% at 32.8% 50%, #31DB9F 0%, #35D4D6 100%)
}

#right li {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
}

#right li:first-child {
  margin-bottom: 120px;
}

#right li:nth-child(8) {
  margin-top: 100px;
}

#right li:hover {
  background: radial-gradient(95.59% 167.1% at 32.8% 50%, #31DB9F 0%, #35D4D6 100%)
}

#navbar li {
  display: inline-block;
  margin-right: 25px;
}

a {
  text-decoration: none !important;
}

.d {
  color: #FE5050;
}

.r {
  color: #F0B90B;
}

.i {
  color: #33D49D;
}